

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    max-width: 100px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card{
    position: relative;
    width: 280px;
    height:400px;
    margin:30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 10px solid rgba(255,255,255,0.5);
    border-left: 10px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.container.card.content h2{
    position: absolute;
    top: -40px;
    right: 30px;
    font-family: 8em;
}